---
import Card from "./Card/index.astro";
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-3" title="Sobre Mi">
  <div class="flex flex-col gap-2">
    <p class="text-sm font-light">
      Hola, Soy Edwin Argueta, desarrollador de software.
      <br />
       Algunas de mis habilidades son:
      <ul class="list-disc list-inside">
        <li>JavaScript</li>
        <li>React</li>
        <li>Astro</li>
      </ul>
    </p>
    <p class="text-sm font-light">
      Como desarrollador junior, mi enfoque se centra en aprender y crecer en el mundo del desarrollo de software.
    </p>
    <p class="text-sm font-light">
      Conozco otras tecnologias, que no agregue en el stack, si embargo
      trato de adaptarme a lo que requiera cada proyecto.
    </p>
  </div>
</Card>
